@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

body{
    font-family: 'Poppins';
}

.bold{
    font-weight: bold;
}
.small{
    font-size: 14px;
}


.screenshot-div{
    border-radius: 4px;
    display: block;
    overflow: hidden;

}

.screenshot-image {
    width:200px;
    display: block;
}

.screenshot-image-two {
    width:150px;
    transform: scale(1);
    display: block;
}

.screenshot-image-two img {
    width:100%;
    
}

.display-cover {
    width: 70%;
    margin: 1% auto;
    position: relative;
    background: rgba(196, 218, 205, 0.7);
}
.display-cover img{
   width: 90%;
   opacity: 0.4;
}
.display-cover .imgText{
   width: 100%;
   opacity: 0.4;
}

.first-screenshot-field{
    margin-top: 1rem;
    width: fit-content;
    box-shadow: 0px 2px 3px rgba(141, 138, 138, 0.2);
}

.screenshot-image-two{
    width: 170px;
    box-shadow: 0px 2px 3px rgba(141, 138, 138, 0.2);
} 
.screenshot-image-two img{
    width: 100%;
    box-shadow: 0px 2px 3px rgba(141, 138, 138, 0.2);
}

.camblock{
    height: 500px;
}

.videoOrImage{
    height: 300px;
}

.actualVideo{
    height: 300px;
}

video {
    width: 100%;
    background: rgba(0, 0, 0, 0.2);
}

.video-options {
    position: absolute;
    left: 20px;
    top: 30px;
}

.controls {
    position: relative;
    right: 20px;
    top: 20px;
    display: flex;
}




.controls > button:hover svg {
    color: white !important;
}

.controls > button > svg {
    height: 20px;
    width: 18px;
    text-align: center;
    margin: 0 auto;
    padding: 0;
}



@media (min-width: 300px) and (max-width: 500px) {

    .custom-container{
        margin: 1rem !important;
        padding: 0.2rem !important;
    }
    .screenshot-image{
        display: none;
    }
    #responseImage{
        display: none;
    }

    .controls button {
        margin: 5px 0 !important;
    }

    .display-cover {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 5% auto;
        position: relative;
    }

    .donate h3{
        font-size: 15px !important;
        margin: -1rem 0;
    }

 
    
    
    
}



.controls button:nth-child(1) {
    border: 2px solid #D2002E;
}

.controls button:nth-child(1) svg {
    color: #D2002E;
}

.controls button:nth-child(2) {
    border: 2px solid #008496;
}

.controls button:nth-child(2) svg {
    color: #008496;
}

.controls button:nth-child(3) {
    border: 2px solid #00B541;
}

.controls button:nth-child(3) svg {
    color: #00B541;
}


.controls > button:hover svg {
    color: white;
}